/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Rankings grid */
.header-row-upper th {
    height: 8px;
}

.table > tbody > tr.header-row-upper > th {
    background-color: #ccc;
    padding: 0px;
}

.table > tbody > tr.header-row-lower > th {
    background-color: #ccc;
    border-bottom: 1px solid #999;
    padding-bottom: 4px;
    cursor: pointer;
}

.panel-default > .panel-heading.rankings-grid-header {
    background-color: #428bca;
    color: #fff;
}

.rankings-grid .table-striped .data-row:hover td {
   background-color: #E0EBF4;
}

.rankings-grid .team-name {
    width: 180px;
}

.table > tbody > tr.highlight > td {
    background-color: #E0EBF4;
}

.hovarrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #777;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    vertical-align: middle;
}

.lightarrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #bbb;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    vertical-align: middle;
}

.activearrowDesc {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #428bca;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    vertical-align: middle;
}

.activearrowAsc {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 5px solid #428bca;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    vertical-align: middle;
}
