<page-header></page-header>

<div class="panel">
    <p>App developed by Alex Voerman... Go <a href="https://github.com/avoerman/ncaabb-rank-site">check it out on github.</a></p>
    <p>Site data comes from these great NCAA BB resources:</p>
    <div class="well">
        <ul>
            <li><a href="http://www.rpiforecast.com/">http://www.rpiforecast.com</a></li>
            <li><a href="http://kenpom.com/">http://www.kenpom.com</a></li>
            <li><a href="http://espn.go.com/mens-college-basketball/bpi/">http://espn.go.com/mens-college-basketball/bpi</a></li>
            <li><a href="http://bracketmatrix.com/">http://bracketmatrix.com/</a></li>
        </ul>
    </div>
</div>