<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
  </ul>
  <h3 class="text-muted">NCAA Rankings</h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading rankings-grid-header">
        <div class="row">
            <div class="col-lg-4">
                <label for="teamName">Search by Team Name</label>
                <input type="text" class="form-control" id="teamName" ng-model="search.name">
            </div>
            <div class="col-lg-2">
                <label for="conference">Conference</label>
                <select class="form-control" ng-model="filterTeam.conference" id="conference"
                        ng-options="conference.name for conference in filterOptions.conferences">
                </select>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-2">
                <label for="sortBy">Sort by:</label>
                <select class="form-control" id="sortBy" ng-model="orderProp"
                        ng-init="orderProp = orderProp || sortOptions[0].value"
                        ng-options="option.value as option.name for option in sortOptions">
                </select>
            </div>
        </div>
    </div>
    <div class="rankings-grid">
        <table class="table table-striped table-hover">
            <tr class="header-row-upper">
                <th></th>
                <th></th>
                <th></th>
                <th colspan="3">Rankings</th>
                <th colspan="3">Bracket Matrix</th>
            </tr>
            <tr class="header-row-lower">
                <th>Team</th>
                <th>Conference</th>
                <th>Record</th>
                <th>RPI</th>
                <th>BPI</th>
                <th>KPom</th>
                <th>Seed</th>
                <th>Avg</th>
                <th># Brackets</th>
            </tr>
            <tr class="data-row" ng-repeat="team in teams | filter:search | filter:conferenceFilter | orderBy:orderProp">
                <td class="team-name">{{team.name}}</td>
                <td class="conference">{{team.conference}}</td>
                <td>{{team.record}}</td>
                <td>{{team.rpi}}</td>
                <td>{{team.bpi}}</td>
                <td>{{team.kpom}}</td>
                <td>{{team.bm_seed}}</td>
                <td>{{team.bm_avgseed}}</td>
                <td>{{team.bm_numbrackets}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="footer">
  <p>Alex Voerman</p>
</div>
