<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Rankings</a></li>
        <li><a ng-href="#/about">About</a></li>
    </ul>
    <h3 class="text-muted">NCAA Rankings</h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading rankings-grid-header">
        <div class="row">
            <div class="col-lg-4">
                <label for="teamName">Search by Team Name</label>
                <input type="text" class="form-control" id="teamName" ng-model="search.name">
            </div>
            <div class="col-lg-2">
                <label for="conference">Conference</label>
                <select class="form-control" ng-model="filterTeam.conference" id="conference"
                        ng-options="conference.name for conference in conferences">
                </select>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    <div class="rankings-grid">
        <table class="table table-striped table-hover">
            <tr class="header-row-upper">
                <th></th>
                <th></th>
                <th></th>
                <th colspan="4">Rankings</th>
                <th colspan="2">Polls</th>
                <th colspan="3">Bracket Matrix</th>
            </tr>
            <tr class="header-row-lower">
                <th ng-repeat="header in headers" class="header"
                    ng-mouseenter="header.hovered = true;"
                    ng-mouseleave="header.hovered = false;"
                    ng-click="onSortArrowClick(header);">
                    {{header.title}}
                    <span class="" ng-class="getArrowClasses(header)"></span>
                </th>
            </tr>
            <tr class="data-row"
                ng-repeat="team in teams | filter:search | filter:conferenceFilter | orderBy:sortValue:sortDirection | nullsLast:sortValue">
                <td class="team-name"><a href="#/teams/{{team.name}}">{{team.name}}</a></td>
                <td class="conference">{{team.conference}}</td>
                <td class="record">{{team.record}}</td>
                <td>{{team.rpi}}</td>
                <td>{{team.bpi}}</td>
                <td>{{team.kpom}}</td>
                <td>{{team.massey}}</td>
                <td ng-class="getPollClass(team.aprank)">{{team.aprank}}</td>
                <td ng-class="getPollClass(team.coachesRank)">{{team.coachesRank}}</td>
                <td>{{team.bm_seed}}</td>
                <td>{{team.bm_avgseed}}</td>
                <td>{{team.bm_numbrackets}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="footer">
    <p>Alex Voerman</p>
</div>
