<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#">Rankings</a></li>
        <li><a ng-href="#/about">About</a></li>
    </ul>
    <h1>{{team.name}} <small>{{team.conference}}</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Team Info</div>
    <div class="panel-body">
        <p>Record: {{team.record}}</p>
    </div>
</div>

<div class="row">
    <div class = "col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Rankings</div>
            <div class="panel-body">
                <p>RPI: {{team.rpi}}</p>
                <p>ESPN's BPI: {{team.bpi}}</p>
                <p>Ken Pomeroy: {{team.kpom}}</p>
            </div>
        </div>
    </div>

    <div class = "col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Brackets</div>
            <div class="panel-body">
                <p ng-show="team.bm_seed">Bracket Matrix Seed: {{team.bm_seed}}</p>
                <p ng-show="team.bm_avgseed">Bracket Matrix Average Seed: {{team.bm_avgseed}}</p>
                <p>Bracket Matrix Number of Brackets: {{team.bm_numbrackets ? team.bm_numbrackets : 0}} of 121 ({{getBMPercentBrackets(team.bm_numbrackets)}})</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Schedule</div>
    <table class="table schedule-table">
        <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Conference</th>
            <th>RPI</th>
            <th>Location</th>
            <th>Outcome</th>
            <th>Quality</th>
        </tr>
        <tr ng-repeat="contest in contests" class="{{shadeByOutcomeClass(contest.outcome)}}">
            <td>{{contest.date}}</td>
            <td><a href="#/teams/{{contest.opponent}}">{{contest.opponent}}</a></td>
            <td>{{contest.conference}}</td>
            <td>{{contest.rpi}}</td>
            <td>{{contest.location}}</td>
            <td>{{contest.score}} {{contest.outcome}}</td>
            <td><opponentquality contest="contest"></opponentquality></td>
        </tr>
    </table>
</div>
